spring:
  profiles:
    active: local
  application:
    name: dev
  
  docker:
    compose:
      enabled: false
  
  datasource:
    url: jdbc:postgresql://localhost:5432/marketplace
    username: marketplace_user
    password: password123
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8090

jwt:
  secret: ${JWT_SECRET:myDefaultSecretKey123456789012345678901234567890}
  access-expiration: 3600000
  refresh-expiration: 2592000000


